@model BookShop.Models.EF.User

@{
    ViewBag.Title = "Thêm người dùng";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="header-page">Thêm người dùng</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="form">
        @using (Html.BeginForm("Create", "User", FormMethod.Post))
        {
            @Html.AntiForgeryToken()


            <p class="contact"><label for="name">Họ và tên</label></p>
            <input id="name" name="name" required="" tabindex="1" type="text" autofocus>

            <p class="contact"><label for="email">Email</label></p>
            <input id="email" name="email" placeholder="example@domain.com" required="" type="email">

            <p class="contact"><label for="password">Mật khẩu</label></p>
            <input type="password" id="password" name="password" required="">

            <p class="contact"><label for="repassword">Nhập lại mật khẩu</label></p>
            <input type="password" id="repassword" name="repassword" required="">

            <p class="contact"><label for="phone">Số điện thoại</label></p>
            <input id="phone" name="phone" required="" type="text"> <br>


            <p class="contact"><label for="repassword">Địa chỉ</label></p>
            <input type="text" id="adress" name="adress" required="">

            <input class="buttom" name="submit" id="submit" tabindex="5" value="Đăng ký" type="submit">
        }
    </div>

    <div class="btn btn-success" style="color:#337ab7;">
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>