
@{
    ViewBag.Title = "Thanh toán thành công";
    Layout = "~/Views/Shared/LayoutDetail.cshtml";
}

<div class="container">
    <span class="alert alert-danger">Thanh toán thành công</span>
    <tfoot>
        <tr>
            <td>
                <a href="/" class="btn btn-warning"><i class="fa fa-angle-left"></i> Tiếp tục mua hàng</a>
            </td>
        </tr>
    </tfoot>
</div>
