
@{
    ViewBag.Title = "Các nhà phát hành";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var release = (List<string>)ViewBag.allRelease;
    var count = (List<BookShop.Models.EF.Book>)ViewBag.CountBook;

}


<div id="maincontent" class="col-xs-12 col-sm-8 col-md-9">
    <div class="boxmain">
        <div class="tit-boxmain">
            <h3> Nhà phát hành </h3>
        </div>
        <div class="ct-boxmain row m0">

            @foreach (var item in release)
            {
                var i = 0;
                foreach (var itemCount in count)
                {
                    if (itemCount.Released == item)
                    {
                        i++;
                    }
                }
                var url = "/Nha-phat-hanh/" + item;
                <div class="col-xs-6 col-sm-4 col-md-3 p5">
                    <div class="boxsp">
                        <div class="imgsp">
                            <a href="@url"><img class="imgproduct" src="~/Assets/Client/images/noimage.gif" style="width:120px;height:168px;"></a>
                        </div>
                        <div class="namesp">
                            <a href="@url" title="@item">@item (@i)</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>



